@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'IBM Plex Mono';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkslategrey;
    font-size: 16px;
}

@keyframes snakeGlow {
    0% {
        box-shadow: 0 0 10px #1470c5;
    }
    25% {
        box-shadow: 10px 10px 20px #0a3b69;
    }
    50% {
        box-shadow: 0 0 30px #0a3b69;
    }
    75% {
        box-shadow: -10px -10px 20px #0a3b69;
    }
    100% {
        box-shadow: 0 0 10px #0a3b69;
    }
}

.container {
    width: 80%;
    max-width: 18.5cm;
    height: auto;
    margin: 2cm;
    background-color: darkgray;
    padding: 2cm;
    animation: snakeGlow 6s infinite;
    border-radius: 5px;
    position: relative; /* Ensure it sits above the background */
    z-index: 1;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
        margin: 2cm;
    }
    
    .contact-info,
    .summary,
    .education,
    .technical-skills,
    .extra-curricular,
    .hackathons,
    .publications,
    .references,
    .certifications {
        width: 100%;
    }
}

.contact-info {
    background-color: darkcyan;
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.contact-info h1 {
    font-family: 'Roboto';
    margin: 0;
    text-align: center;
    font-size: 2em;
}

.contact-info a {
    color: darkblue;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: none;
}

.contact-info-table {
    border-collapse: collapse;
    width: 100%;
    vertical-align: baseline;
}

td, th {
    border: 0px solid;
    text-align: left;
    padding: 0px;
}

.summary, .education, .technical-skills, .extra-curricular, .certifications, .hackathons, .publications, .references {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

.summary-txt {
    text-align: justify;
}

.small-text {
    font-size: 10pt;
}

.medium-text {
    font-size: 11pt;
}

h2 {
    margin: 1em 0 0.5em 0;
    font-size: 1.5em;
}

ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

p, ul {
    text-align: left;
    margin: 0.5em 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: rgb(238, 184, 84);
}


.h1-link:link {
    color: #000000;
    text-decoration: none;
}


.h1-link:active {
    color: #000000;
    text-decoration: none;
}


.h1-link:visited {
    color: #000000;
    text-decoration: none;
}

.h1-link:hover {
    color: rgb(198, 175, 74);
}

.link:link {
    color: #000000;
    text-decoration: none;
}


.link:active {
    color: #000000;
    text-decoration: none;
}


.link:visited {
    color: #000000;
    text-decoration: none;
}

.link:hover {
    color: rgb(162, 110, 14);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: rgb(154, 154, 168);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.cv-version{
    margin-bottom: 0;
    text-align: right;
    color: rgb(212, 212, 212);
    font-size: 0.75em;
}

.level-txt {
    color: darkslategray;
    font-weight: bold;
    font-style: italic;
}

.technical-skills ul li {
    list-style-type: "  ➜ ";
}

.extra-curricular ul li {
    list-style-type: "  ★ ";
}

.certifications ul li {
    list-style-type: "  ✤ ";
}

.hackathons ul li {
    list-style-type: "  ☆ ";
}

.publications ul li {
    list-style-type: "  ◈ ";
    font-style: italic;
}

.rain {
    background-image: url('../images/rain.gif');
    background-size: 100px 100px;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    pointer-events: none;
    image-rendering: pixelated;
    mix-blend-mode: overlay;
}

.rain-hidden {
    display: none;
}

.rain-toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: darkgray;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    z-index: 100;
    font-family: 'Roboto';
    font-weight: bold;
}

.rain-toggle-button:hover {
    background-color: rgb(88, 146, 146);
}

.rain-toggle-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .rain-toggle-button {
        min-width: 120px;
        padding: 10px 20px;
    }
}
